nav ul {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.422);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom: solid 0.9px rgba(0, 0, 0, 0.221);
	border-left: solid 0.9px rgba(0, 0, 0, 0.289);
	border-right: solid 0.9px rgba(0, 0, 0, 0.289);
}

nav ul li {
	list-style-type: none;
	padding-top: 20px;
	padding-right: 120px;
}

nav ul li a {
	text-decoration: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: black;
}


nav li img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}



div.img_polynesie:hover,
div.img_cambodge:hover,
div.img_grece:hover{
	transform: scale(1.08);
	transition: transform .2s;
}



div.user {
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
	justify-content: flex-end;
	width: 100%;
}

div.recherche {
	display: flex;
	width: 50%;
	padding-left: 130px;
	padding-top: 2.8px;
}

div.recherche textarea {
	padding-top: 10px;
	padding-left: 10px;
	margin-top: 10px;
	border-radius: 30px;
	width: 300px;
	border-color: rgba(0, 0, 0, 0.69);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	height: 24px;
	display: none;
	resize: none;
}

textarea::placeholder {
	font-size: 13px;
}

ul a img.account {
	padding-top: 15px;
	height: 25px;
}

ul a img.reservation {
	height: 55px;
}

ul a img.search {
	padding-top: 18px;
	padding-right: 20px;
	height: 20px;
}

div.now {
	justify-content: center;
}


nav ul li:hover,
div.reseaux ul li:hover,
div.info ul li:hover,
img.volcan:hover,
div.loc_volcan h3:hover,
div.loc_volcan p:hover,
img.grotte:hover,
div.loc_grotte h3:hover,
div.loc_grotte p:hover,
img.fond_marin:hover,
div.loc_fond_marin h3:hover,
div.loc_fond_marin p:hover {
	transform: scale(1.08);
	transition: transform .2s;
}


div.now h2,
div.pub h2,
div.loc_volcan h2,
div.loc_grotte h2,
div.loc_fond_marin h2{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	color: rgb(0, 0, 0);
	border-radius: 10px;
}




div.now h2 {
	padding-left: 540px;
}

div.pub h2 {
	padding-left: 330px;
	padding-top: 30px;
}

hr.ddm {
	width: 300px;
}

div.presentation {
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

div.presentation a {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	padding-top: 220px;
	color: white;
	text-decoration: none;
	border-radius: 10px;
}

div.img_polynesie,
div.img_cambodge,
div.img_grece {
	display: flex;
	flex-direction: column;
	background-size: cover;
	border-radius: 40px;
	margin: 10px;
	width: 500px;
	height: 300px;
	align-items: center;
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.527));
}

div.img_polynesie {
	background-image: url(../image/voyage1.jpg);
}

div.img_cambodge {
	background-image: url(../image/voyage2.jpg);
}

div.img_grece {
	background-image: url(../image/voyage3.jpg);
}

div.img_polynesie img,
div.img_cambodge img,
div.img_grece img {
	max-height: 60px;
	width: 100px;
	margin-bottom: 20px;
	
	border-radius: 10px;
}

hr.sep {
	color: rgba(159, 159, 159, 0.116);
	width: 1000px;
}

hr.pav {
	width: 720px;
	margin-bottom: 70px;
}

div.loc_volcan,
div.loc_grotte,
div.loc_fond_marin {
	display: flex;
	background-size: cover;
	align-items: center;
	width: 101%;
	height: 500px;
}

div.loc_volcan {
	background-image: url(../image/volcan.jpg);
}

div.loc_grotte {
	background-image: url(../image/grotte.jpeg);
}

div.loc_fond_marin {
	background-image: url(../image/fond_marin2.jpg);
}

img.volcan,
img.grotte,
img.fond_marin {
	border-radius: 40px;
	background-size: cover;
	margin: 15px;
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.527));
}

img.volcan,
img.grotte {
	width: 500px;
	height: 300px;
}

img.fond_marin {
	width: 450px;
	height: 300px;
}

img.fond_marin:hover {
	transform: scale(1.055);
	transition: transform 0.2s;
}

div.loc_volcan h3,
div.loc_grotte h3,
div.loc_fond_marin h3 {
	display: flex;
	flex-direction: column;
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	border-radius: 10px;
}

div.loc_volcan h3 {
	margin: 50px;
	backdrop-filter: blur(4px);
}

div.loc_grotte h3 {
	margin: 20px;
	backdrop-filter: blur(4px);
}

div.loc_fond_marin h3 {
	margin: 15px;
	backdrop-filter: blur(2px);
}

div.loc_volcan p,
div.loc_grotte p,
div.loc_fond_marin p {
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 50px;
	backdrop-filter: blur(7px);
	border-radius: 10px;
	text-align: center;
}

div.loc_volcan p {
	backdrop-filter: blur(7px);
}

div.loc_grotte p {
	backdrop-filter: blur(2px);
}

div.loc_fond_marin p {
	backdrop-filter: blur(3px);
}

footer {
	background-color: rgba(25, 25, 25, 0.956);
	height: 101%;
	width: 101%;
}

div.reseaux ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	padding-top: 40px;
}

div.reseaux ul li {
	margin: 40px;
}

img.facebook,
img.instagram,
img.X {
	height: 90px;
}

img.instagram {
	height: 92px;
}

div.info {
	padding-bottom: 30px;
}

div.info ul {
	display: flex;
	justify-content: center;
	justify-content: space-around;
	list-style-type: none;
}

div.info ul li a {
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-decoration: none;
}

div.copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.438);
	height: 50px;
	color: white;
}

div.polinesie ul,
div.cambodge ul,
div.grece ul {
	display: flex;
	list-style-type: none;
	margin-left: 50px;
	margin-top: 60px;
}

img.dest_pol,
img.dest_cam,
img.dest_gre {
	display: flex;
	border-radius: 40px;
	background-size: cover;
	margin: 10px;
	width: 500px;
	height: 300px;
	align-items: center;
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.719));
}

hr.vertical {
	margin-left: 50px;
	border: none;
	border-left: 2px solid rgba(110, 110, 110, 0.208);
	height: 780px;
	width: 1px;
}

hr.horizontal {
	width: 850px;
	color: rgba(110, 110, 110, 0.208);
}

div.description {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.description li h2 {
	margin-left: 00px;
	font-size : 32px;
	text-decoration-thickness: 3px;
	text-align: center;
}

div.description li p {
	margin: 20px;
	color: rgb(43, 43, 43);
}

div.butt_res {
	margin-left: 80px;
}

div.butt_res button {
	background: rgb(141, 123, 255);
	background: linear-gradient(90deg, rgba(141, 123, 255, 1) 0%, rgba(36, 70, 255, 1) 100%);
	color: rgba(0, 0, 0, 0.647);
	font-weight: bold;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	width: 250px;
	height: 40px;
	border-radius: 30px;
	margin: 50px;
	border: none;
	filter: drop-shadow(2px 0px 5px rgba(0, 0, 0, 0.763));
}

img.etoile_p,
img.etoile_c,
img.etoile_g,
img.etoile_m,
img.etoile_la,
img.etoile_ita {
	height: 45px;
	width: 250px;
}

img.etoile_p {
	margin-left: 310px;
}

img.etoile_c,
img.etoile_g,
img.etoile_la,
img.etoile_ita {
	margin-left: 300px;
}

div.dest {
	display: flex;
}

div.dest_maldive h2,
div.dest_LA h2,
div.dest_ita h2 {
	color : black;
	display: flex;
	justify-content: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	-webkit-text-stroke-width: .6px;
	-webkit-text-stroke-color: rgba(0, 0, 0, 0.441);
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

div.dest_maldive,
div.dest_LA,
div.dest_ita {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 700px;
}

div.dest_maldive {
	background-image: url(../image/maldive.jpg);
}

div.dest_LA {
	background-image: url(../image/LA2.jpg);
	background-position: right;
}

div.dest_ita {
	background-image: url(../image/italie.jpg);
	background-position: right;
}



div.img_mald:hover,
div.dest_maldive:hover,
div.img_LA:hover,
div.dest_LA:hover,
div.img_ita:hover,
div.dest_ita:hover {
	transform: scale(1.08);
	transition: transform .2s;
}


div.img_mald,
div.img_LA,
div.img_ita {
	display: flex;
	justify-content: center;
	align-items: end;
}

div.img_mald {
	margin-top: 40px;
}

div.img_LA {
	margin-top: 50%;
	
}

div.img_ita {
	margin-top : 90%;
	
}

img.mald,
img.LA,
img.ita {
	border-radius: 40px;
	background-size: cover;
	margin: 15px;
	width: 450px;
	height: 200px;
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.527));
}